<style>
.user-profile {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px; 
}

.user-info {
  flex-grow: 1; 
}
</style>

<h1 class="bg-success-subtle p-2 text-center text-success w-100">USER PROFILE</h1>
<div class="user-profile">
  
  <img src="{{profile.avatar}}" alt="Avatar de {{profile.name}}" class="avatar" />
  <div class="user-info">
   
  <h2>{{profile.name}}</h2>
  <p><strong>Correo electrónico:</strong> {{profile.email}}</p>
  <p><strong>Ciudad:</strong> {{profile.city}}</p>
  <p><strong>Rol:</strong> {{profile.role}}</p>
  <p><strong>Fecha de registro:</strong> {{profile.createdAt}}</p>
</div>
</div>